.App {
  text-align: center;
  overflow-x: hidden;
}

a.artist-name {
  color: #fff;
  text-decoration: none;
}

a.song-name {
  color: #fff;
  text-decoration: none;
}

h1.artist-name {
  font-size: 1rem;
  overflow-wrap: break-word;
}

h2.song-name {
  font-size: 0.8rem;
  width: 200px;
  padding: 10px;
  overflow-wrap: break-word;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
