.App {
  text-align: center;
}

a.artist-name {
  color: #fff;
  text-decoration: none;
}

a.song-name {
  color: #fff;
  text-decoration: none;
}

h1.artist-name {
  font-size: 1rem;
}

h2.song-name {
  font-size: 0.8rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
